{% extends 'base.html' %}

{% load static %}

{% block title %} All_products {% endblock %}

{% block content %}


<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Manage Products</h1>
    </div>

                {% for msg in messages %}
                    <div class="alert alert-{{msg.level_tag}} alert-dismissible fade show  name" role="alert" >
                    <strong> {{msg.message}}</strong>
                    <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
    
                {% endfor %}

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
                <h5 class="mb-4"><a href="{% url 'add_items' %}" style="border-radius: 4px;" class="btn btn-outline-success">Add Product</a></h5>

                <div class="table-responsive">
                    <table class="account-table table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>

                                <th scope="col">Name</th>

                                <th scope="col">Digital</th>

                                <th scope="col">Price</th>

                                <th scope="col" class="text-center">Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td scope="row"><img src="{{item.imageURL}}" width="90" height="90" style="border-radius: 10px;" alt=""></td>

                                <td scope="row">{{item.name}}</td>

                                <td scope="row">{{item.digital}}</td>

                                <td scope="row">{{item.price}}</td>

                                <td class="text-danger  text-center" scope="row">
                                    <a href="/update/{{item.id}}" class="btn btn-primary">Update</a>
                                    <a href="/delete/{{item.id}}"class="btn btn-danger" onclick="return confirm('Are you sure you want to delete ?')">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}

</main>



{% endblock %}