{% extends 'base.html' %}

{% load static %}

{% block title %} Cart {% endblock %}


{% block content %}


<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Cart</h1>
    </div>

    <div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" style="border-radius: 4px;" href="{% url 'index' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				items	
                <div class="table-responsive">
                <table class="table">
					<tr>
						<th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> Ksh {{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>
            </div>

			</div>
            <br>

            <div class="box-element">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered">
                            <tr>
                                <th>Image</th>
                                <th>Item</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            {% for item in items %}
                            <tr>
                                <td><img class="row-image" src="{{item.product.imageURL}}" style="border-radius: 5px;"></td>
                                <td>{{item.product.name}}</td>
                                <td>KSH {{item.product.price|floatformat:2}}</td>
                                <td>
                                    <p class="quantity">{{item.quantity}}</p>
                                    <div class="quantity">
                                        <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                                
                                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                                    </div>
                                </td>
                                <td>KSH {{item.get_total}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>

			<br>
			
		</div>
	</div>

</main>

<script>
    var updateBtns = document.getElementsByClassName('update-cart')

for (i = 0; i < updateBtns.length; i++){
    updateBtns[i].addEventListener('click', function(){
        var productId = this.dataset.product
        var action = this.dataset.action
        console.log('productId: ', productId, 'action: ', action)

        console.log('User:', user)
        if(user == 'AnonymousUser'){
            console.log('Not logged in')
        }else{
            updateUserOrder(productId, action)
        }
    })
}

function updateUserOrder(productId, action){
    console.log('User is logged in, sending data')
    var url = '/update_item/'

    fetch(url, {
        method: 'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken':csrftoken,
        },
        body:JSON.stringify({'productId':productId, 'action':action})
    })
    .then((response) =>{
        return response.json()
    })
    .then((data) => {
        console.log('data:', data)
        location.reload()
    })

}
</script>

{% endblock %}