{% extends 'base.html' %}


{% block title %} Help-Center {% endblock %}

{% block content %}

<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">How can we help?</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-7 col-12">

            <div class="custom-block custom-block-faq">
                <h5 class="mb-4">Frequently Asked Questions</h5>

                <strong class="d-block mb-2">What is Mini Finance Template?</strong>

                <p>Mini Finance Template includes total 6 HTML pages for your customizations. It is free of charge provided by Tooplate website.</p>
                
                <strong class="d-block mt-3 mb-2">What is Free HTML Template?</strong>

                <p>Free HTML Template is a ready-made web page based on HTML CSS codes.</p>

                <strong class="d-block mt-3 mb-2">What is the best code editor?</strong>

                <p>Popular code editors are Dreamweaver, Notepad++, Visual Studio Code, Rapid CSS, Sublime Text and Atom to edit HTML CSS JS codes and put in your own web contents.</p>

                    <strong class="d-block mt-3 mb-2">Are all templates free to download?</strong>

                    <p>Yes, all CSS templates are 100% free to download and use for your websites. You can also use them for learning HTML, CSS, and JavaScripts.</p>
            </div>
        </div>

        <div class="col-lg-5 col-12">
            <div class="custom-block custom-block-contact">
                <h6 class="mb-4">Still can’t find what you looking for?</h6>

                <p>
                    <strong>Call us:</strong>
                    <a href="tel: 305-240-9671" class="ms-2">
                        (254) 
                        305-240-9671
                    </a>
                </p>

                <a href="#" class="btn custom-btn custom-btn-bg-white mt-3">
                    Chat with us
                </a>
            </div>
        </div>
    </div>
    {% include 'includes/footer.html' %}
</main>



{% endblock %}