{% extends 'base.html' %}

{% block content %}

<main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    <div class="title-group mb-3">
        <h1 class="h2 mb-0">Profile</h1>
    </div>

    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block custom-block-profile">
                <div class="row">
                    <div class="col-lg-12 col-12 mb-3">
                        <h6>General</h6>
                    </div>
                    <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-profile-image-wrap">
                            {% if profile.name %}
                            <img src="{{profile.imageURL}}" class="custom-block-profile-image img-fluid" alt="">
                            {% else %}
                            <img src="/static/images/medium-shot-happy-man-smiling.jpg" class="custom-block-profile-image img-fluid" alt="">
                            {% endif %}
                            <a href="setting.html" class="bi-pencil-square custom-block-edit-icon"></a>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <p class="d-flex flex-wrap mb-2">
                            <strong>Name:</strong>

                            <span>{{profile.name}}</span>
                        </p>

                        <p class="d-flex flex-wrap mb-2">
                            <strong>Email:</strong>
                            
                            <a href="#">
                                {{profile.email}}
                            </a>
                        </p>

                        <p class="d-flex flex-wrap mb-2">
                            <strong>Phone:</strong>

                            <a href="#">
                                {{profile.phone}}
                            </a>
                        </p>

                        <p class="d-flex flex-wrap">
                            <strong>Address:</strong>

                            <span>{{profile.address}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-12">
            <div class="custom-block custom-block-contact">
                <h6 class="mb-4">Still can’t find what you looking for?</h6>

                <p>
                    <strong>Call us:</strong>
                    <a href="tel: 305-240-9671" class="ms-2">
                        (254) 
                        305-240-9671
                    </a>
                </p>

                <a href="#" class="btn custom-btn custom-btn-bg-white mt-3">
                    Chat with us
                </a>
            </div>
        </div>
    </div>
    
    {% include 'includes/footer.html' %}
</main>


{% endblock %}